<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Основы Vue</title>
    <link rel="stylesheet" href="theme.css" />
  </head>
  <body>
    <div class="container" id="app" v-cloak>
      <div class="card">
        <h1>План по изучению Vue.js</h1>
        <div class="steps">
          <div class="steps-content">{{steps[currentStep].text}}</div>
          <ul class="steps-list">
            <li
              v-for="(step, index) in steps"
              :key="step"
              :class="{
                'steps-item': true,
                'active': index === currentStep ? true : false,
                'done': index < currentStep ? true : false,
              }"
            >
              <span @click="setActive(index)" v-text="index + 1"></span>
              {{step.title}}
            </li>
          </ul>
          <div v-if="!viewResetBtn">
            <button @click="prev" :disabled="backBtnOff" class="btn">
              Назад
            </button>
            <button @click="nextOfFinish" class="btn primary">
              {{nextOfFinishBtn}}
            </button>
          </div>
          <button v-else @click="reset" class="btn">
            {{ResetBtn.toUpperCase()}}
          </button>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="vue.js"></script>
  </body>
</html>
